@charset "UTF-8";
/* ••••••••••••••••••••••••••••••••
© 2019-now Nedislav Kamburov
All rights reserved
www.nedkamburov.com
•••••••••••••••••••••••••••••••• */

// General
// --------------------------------
//TODO: Before live, check how the foundry wants the type to be embedded
// @font-face {
// }
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'Font Regular';
  src: url(../fonts/NeueHaasUnicaW1G-Regular.woff2) format('woff2'),
    url(../fonts/NeueHaasUnicaW1G-Regular.woff) format('woff'),
    url(../fonts/NeueHaasUnicaW1G-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Font Bold';
  src: url(../fonts/NeueHaasUnicaW1G-Bold.woff2) format('woff2'),
    url(../fonts/NeueHaasUnicaW1G-Bold.woff) format('woff'),
    url(../fonts/NeueHaasUnicaW1G-Bold.ttf) format('truetype');
}

// Variables
// --------------------------------
$background-color: rgb(211, 211, 211);
$background-info-color: #fff;
$color: #000;
$link-color: blue;

$font-size: 2rem;
$line-height: 1.3;
$font-size-title: $font-size * 1.5;
$line-height-title: 1.1;

$gutter-v: $font-size * $line-height * 1.1;
$gutter-h: $font-size * $line-height * 1;
$gutter-thin-h: $gutter-h * 0.5;
$indent: $gutter-v;

$duration: 0.4s;
// $easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing: ease-in-out;

html {
  width: 100%;

  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;

  //TODO: Responsiveness
  @media screen and (min-width: 0), (min-height: 0px) {
    font-size: 8px;
  }

  @media screen and (min-width: 200px) {
    font-size: 10px;
  }

  @media screen and (min-width: 400px) {
    font-size: 12px;
  }

  @media screen and (min-width: 500px) {
    font-size: 13px;
  }

  @media screen and (min-width: 800px) {
    font-size: 14px;
  }

  @media screen and (min-width: 900px) {
    font-size: 10px;
  }
}

body {
  width: 100%;

  font-family: 'Font Regular', Helvetica, Arial, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  background-color: $background-color;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
a:focus {
  text-decoration: none;
}

.wrapper {
  padding-left: $gutter-thin-h;
  padding-right: $gutter-thin-h;

  nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // z-index: 9999;

    img {
      display: inline-block;
      position: relative;
      top: 0.2em;
      height: 1em;
      background-image: none;
    }

    h1 {
      display: inline-block;
      font-size: $font-size-title;
      line-height: $line-height-title;
    }

    #theses-info {
      margin-right: $gutter-thin-h * 2;
      text-decoration: underline;

      &:hover {
        text-transform: uppercase;
      }
    }
  }

  .container {
    padding-top: $font-size-title * $line-height-title * 3;
    width: 100%;

    @media screen and (min-width: 540px) {
      padding-top: $font-size-title * $line-height-title * 2;
    }

    .person {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      padding-top: $gutter-thin-h * 0.5;

      @media screen and (min-width: 900px) {
        flex-direction: row;
        padding-top: 0;
      }

      .person-name,
      .person-thesis {
        display: inline-block;
        pointer-events: none;
      }

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $color;
      }

      // &:hover .person-name,
      // &:hover .person-thesis {
      //   text-decoration: underline;
      // }

      .person-thesis-content {
        display: none;
        position: fixed;

        width: 90vw;
        height: 90vh;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        @media screen and (min-width: 900px) {
          width: 140vh;
          height: 75vh;
          max-height: 90vh;
        }

        overflow: scroll;

        background-color: $background-info-color;
        border: 1px solid $color;

        // @media screen and (min-width: 900px) and (min-height: 900px) {
        //   width: 50%;
        //   height: 100vh;
        //   right: 0;
        //   top: 0;
        //   border: none;

        //   border-left: 1px solid $color;
        // }

        // z-index: 9998;
        // background-color: $background-color;
        // overflow-y: scroll;

        ::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none;

        .person-thesis-image {
          position: relative;
          width: 100%;
          max-height: 100%;

          @media screen and (min-width: 900px) {
            position: sticky;
            top: 0;
            height: 100%;
          }

          .x-button {
            position: absolute;
            top: 0;
            left: 0;
            width: 2em;
            height: 2em;
            z-index: 9999;

            background-color: $background-info-color;
            -webkit-mask-image: url(../images/cross.svg);
            mask-image: url(../images/cross.svg);
            transition: transform $duration ease-in-out;
          }

          .x-button:hover {
            transform: scale(0.85);
          }

          .website-link {
            width: 2em;
            height: 2em;

            position: absolute;
            top: 0;
            left: 2em;

            background-color: $background-info-color;
            -webkit-mask-image: url(../images/link3.svg);
            mask-image: url(../images/link3.svg);
            transition: transform $duration ease-in-out;

            a {
              width: inherit;
              height: inherit;
              display: inline-block;
            }
          }

          .website-link:hover {
            transform: scale(0.85);
          }
        }

        .person-thesis-text {
          @media screen and (min-width: 900px) {
            position: absolute;
            top: 0;
            right: 0;
            width: 25%;
          }

          padding: $gutter-thin-h / 2 $gutter-v / 2;

          h3 {
            font-family: 'Font Bold';
            margin-bottom: $gutter-thin-h;
          }

          .footnotes {
            margin: $gutter-thin-h;
            border-top: 1px solid $color;
          }
        }
      }
    }

    #theses-info-content {
      display: none;
      position: fixed;

      //   // width: 100%;
      //   // height: 50vh;
      //   bottom: 0;
      //   background-color: $background-color;
      //   border-top: 1px solid $color;

      //   @media screen and (min-width: 900px) and (min-height: 900px) {
      //     padding-top: $font-size-title * $line-height-title * 2;
      //     top: 0;
      //     width: 50%;
      //     height: 100%;
      //     border: none;
      //     border-right: 1px solid $color;
      //   }

      //   &.visible {
      //     display: block;
      //   }
    }
  }
}

// General styling for the container
img {
  object-fit: contain;

  max-width: 100%;
  max-height: 100%;

  // @media screen and (min-width: 1000px) {
  //   max-height: 100%;
  //   // max-width: 50%;
  // }

  background-image: url(../images/object16-Pepijn-De-Jonge_----------.jpg);
  background-size: auto 100%;
}

footer {
  padding-top: $gutter-h;
}

//     h3 {
//       font-size: $font-size * 1.5;
//       line-height: $line-height * 0.9;
//       width: 100%;
//       background-color: $background-color;
//     }

ol {
  font-size: $font-size * 0.8;
  list-style-position: inside;
  list-style-type: decimal;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

p {
  text-indent: $indent;
}

p:first-of-type,
.quote + p,
br + p,
p + .quote,
.list + p {
  text-indent: 0;
}
